<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/AddProduct.jsp</url-pattern>
            <url-pattern>/ListCustomer.jsp</url-pattern>
            <url-pattern>/UpdateStock.jsp</url-pattern>
            <url-pattern>/cart.jsp</url-pattern>
            <url-pattern>/register.jsp</url-pattern>
            <url-pattern>/catalog.jsp</url-pattern>
            <url-pattern>/admin.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/removeProduct.jsp</url-pattern>
            <url-pattern>/checkout.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
