/* 
    Created on : 04-Nov-2013, 22:46:29
    Author     : n8
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 850px;
    margin: 20px auto;
}

#main { 
    background: #FFFFFF;
    width: 850px;
}

#header {
    height: 150px;
    text-align: center;
    font-size:  150%;
    background: #3366CC;
    padding: 50px 10px 10px 10px;
    border-bottom: solid black;
}

#login {
    height: 25px;
    background: #eee;
    border: 2px black solid;
    padding: 2px 2px 5px 5px;
    float: right;
}

#footer {
    height: 60px;
    clear: left;
    text-align: center;
    background: #3366CC;
    border-top: solid black;
}

#indexLeftColumn {
    height: 400px;
    width: 150px;
    float: left;
    background: lightblue;
    font-size: 120%;
    border-right: solid black;
}

#indexRightColumn {
    height: 400px;
    width: auto;
    text-align: center;
}
#productListTable{
    width: 400px;
}
#catalog{
    text-align: center;
}
#JobCatalog{
    text-align: center;
}
#register{
    text-align: center;
}
#admin{
    text-align: center;
}
#cart{
    text-align: center;
}
#updateStock{
    text-align: center;
}
#listCustomer{
    text-align: center;
}
#removeProduct{
    text-align: center;
}
#addProduct{
    text-align: center;
}
#RemoveJob{
    text-align: center;
}
#AddJob{
    text-align: center;
}
#loginDiv{
    text-align: center;
}
#checkout{
    text-align: center;
}

form { text-align: left; display: inline-block; width: auto;}
